[maxscale]
threads=auto
log_warning=1
log_info=1
log_notice=1
log_debug=1

[replication-service]
type=service
router=binlogrouter
user=maxuser
password=maxpwd
server_id=2
master_id=1
binlogdir=/var/lib/maxscale
filestem=mariadb-bin
mariadb10_master_gtid=1
mariadb10-compatibility=1

[replication-listener]
type=listener
service=replication-service
protocol=mariadbclient
port=3306
address=0.0.0.0

[Galera-Monitor]
type=monitor
module=galeramon
servers=galera1,galera2,galera3
user=maxuser
password=maxpwd
monitor_interval=5000

[Splitter-Service]
type=service
router=readwritesplit
servers=galera1,galera2,galera3
user=maxuser
password=maxpwd
max_slave_connections=100%
slave_selection_criteria=LEAST_CURRENT_OPERATIONS

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=mariadbclient
port=4006
#----------------------
[galera1]
type=server
address=192.168.2.11
port=3306
protocol=mariadbbackend

[galera2]
type=server
address=192.168.2.12
port=3306
protocol=mariadbbackend

[galera3]
type=server
address=192.168.2.13
port=3306
protocol=mariadbbackend
