[maxscale]
threads=4

[Galera Monitor]
type=monitor
module=galeramon
servers=galera1,galera2,galera3
user=maxadmin
passwd=maxpwd
monitor_interval=5000

[Read Connection Router]
type=service
router=readconnroute
servers=galera1,galera2,galera3
user=maxadmin
passwd=maxpwd
router_options=slave

[Splitter Service]
type=service
router=readwritesplit
servers=galera1,galera2,galera3
user=maxadmin
passwd=maxpwd
max_slave_connections=100%
router_options=slave_selection_criteria=LEAST_CURRENT_OPERATIONS

[Debug Interface]
type=service
router=debugcli

[Read Connection Listener]
type=listener
service=Read Connection Router
protocol=MySQLClient
port=4008

[Splitter Listener]
type=listener
service=Splitter Service
protocol=MySQLClient
port=4006

[Debug Listener]
type=listener
service=Debug Interface
protocol=telnetd
port=4442

[MaxAdmin]
type=service
router=cli

[MaxAdmin Unix Listener]
type=listener
service=MaxAdmin
protocol=maxscaled
socket=default

[MaxAdmin Inet Listener]
type=listener
service=MaxAdmin
protocol=maxscaled
address=localhost
port=6603
###############################################################################
[galera1]
type=server
address=192.168.18.121
port=3306
protocol=MySQLBackend

[galera2]
type=server
address=192.168.18.122
port=3306
protocol=MySQLBackend

[galera3]
type=server
address=192.168.18.123
port=3306
protocol=MySQLBackend
